<button>测试</button>
<div></div>
<iframe id="ifr" src="http://sample.myapp.com:3000/demo1-iframe"></iframe>
<script>
document.domain = 'myapp.com';
function sayHello(str) {
    document.querySelector('div').innerHTML = str;
}

document.querySelector('button').onclick = function (){
	document.querySelector('#ifr').contentWindow.sayHello('Hello son');
}
</script>
