<h3>long polling</h3>
<button id="start-polling">开启</button>
<div id="result"></div>

<h3>streaming</h3>
<button id="start-stream">发送请求</button>
<div id="result2"></div>

<script>
	//long polling
	var btn = document.querySelector("#start-polling"), counter = 1;
	var poll = function() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', "http://localhost:3000/poll/"+counter, true);
		xhr.onreadystatechange = function(){
			if(xhr.readyState == 4) {
				var res = document.querySelector("#result");
				res.innerHTML += xhr.responseText + "<br>";
				if(++counter <= 5){
					poll();
				} else {
					counter = 1;
				}
			}
		}
		xhr.send(null);
	}
	btn.onclick = function(){
		document.querySelector("#result").innerHTML = "";
		poll();
	};

	//stream
	var btn2 = document.querySelector("#start-stream");
	btn2.onclick = function(){
		var client = createClient("http://localhost:3000/stream", function(data){
			document.querySelector("#result2").innerHTML += "Received:"+data+"<br>";
		}, function(data){
			document.querySelector("#result2").innerHTML += "Done!";
		});
	}
	function createClient(url, process, finished){
		var xhr = new XMLHttpRequest(), received = 0;
		xhr.open('GET', url, true);
		xhr.onreadystatechange = function(){
			var result;
			if(xhr.readyState == 3){
				result = xhr.responseText.slice(received);
				received += result.length;
				process(result);
			} else if(xhr.readyState == 4) {
				finished(xhr.responseText);
			}
		}
		xhr.send(null);
		return xhr;
	}
</script>
