<ul>
	<li><a href="/ping-jsonp">图像Ping &amp; JSONP</a></li>
	<li><a href="/comet">Comet</a></li>
	<li><a href="/sse">SSE</a></li>
	<li><a href="/websocket">WebSocket</a></li>
	<li>iframe
		<ul>
			<li><a href="/demo1">document.domain</a></li>
			<li><a href="/demo2">URL.hash</a></li>
			<li><a href="/demo3">Cross-fragment</a></li>
			<li><a href="/demo4">Window.name</a></li>
			<li><a href="/demo5">postMessage</a></li>
		</ul>
	</li>
</ul>
