<button id="start-ping">发送image ping请求</button>
<div id="result"></div>
<script>
	var btn = document.querySelector("#start-ping");
	btn.onclick = function(){
		var img = new Image();
		img.onload = img.onerror = function(obj){
			document.querySelector("#result").innerHTML = "finished";
		};
		img.src = "http://localhost:3000/img?r="+Math.random();
	};
</script>
