<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h2><a href="/">首页</a></h2>
    {{{body}}}
  </body>
</html>
